@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body {
	background-color: yellow;
    text-align: center;
}

a:hover {
    color: red;
}
ul {
    text-align: center;
    list-style-position: inside;
}
img {
    border-radius: 50%;
}

h1 {
    color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h2 {
    color: blue;
}

#para {
    font-size: 35px;
}

.list {
    font-size: 25px;
}
